/* Navbar */
.navbar__background {
  background: #f1f3ff;
}

/* Hero */
section.hero__background {
  background: #f1f3ff;
}

/* Screen */
#car-background {
  width: 45%;
  height: 50%;
  background-color: var(--bs-primary);
  border-radius: 60px 0 0 0;
}

.container--car {
  margin-right: -8%;
}

/* Our Services */
.our-services__image {
  max-width: 80%;
  height: auto;
}

.our-services__list {
  list-style-type: none;
}

.our-services__list--icon {
  color: var(--primary);
  padding: 0.3rem;
  background-color: #cfd4ed;
  width: 24px;
  height: 24px;
}

/* Why Us */
.why-us__icon {
  max-width: 32px;
  max-height: 32px;
  background-color: black;
  border-radius: 100%;
}

/* Testimonials */
.owl-carousel .owl-item {
  transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 1px solid black;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background: var(--bs-white);
  border-color: var(--bs-gray-500);
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

.testimonials__icons--chevron-left,
.testimonials__icons--chevron-right {
  color: var(--bs-black);
}

.owl-carousel .owl-nav button.owl-prev:hover .testimonials__icons--chevron-left,
.owl-carousel
  .owl-nav
  button.owl-next:hover
  .testimonials__icons--chevron-right {
  color: var(--bs-white);
}

.testimonials__card {
  background: #f1f3ff;
  height: 350px;
}

.testimonials__icons--star {
  color: var(--bs-gray-400);
}

.testimonials__icons--star.active {
  color: var(--bs-warning);
}

/* CTA */
.cta__background {
  background: var(--bs-primary);
  min-height: 50vh;
}
/* Footer */
.footer__list {
  list-style-type: none;
}

.footer__list a {
  color: black;
  text-decoration: none;
}

.footer__icon {
  color: white;
  background-color: var(--bs-primary);
  border-radius: 100%;
  padding: 0.5rem;
}

/* Screen LG */
/* Screen SM */
@media screen and (max-width: 992px) {
  #car-background {
    width: 95%;
    height: 30%;
  }
}

@media screen and (max-width: 576px) {
  .container--car {
    margin-left: 3%;
  }

  #car-background {
    height: 20%;
  }
}