.section__container--height-30 {
  height: 100%;
  min-height: 30vh;
}

.section__container--height-75 {
  height: 100%;
  min-height: 75vh;
}

/* Navbar */
.navbar__background {
  background: #f1f3ff;
}

/* Hero */
section.hero__background {
  background: #f1f3ff;
}

/* Our Services */
.our-services__list {
  list-style-type: none;
}

.our-services__list--icon {
  color: var(--primary);
  padding: 0.5rem;
  background-color: #cfd4ed;
  width: 32px;
  height: 32px;
}

/* Why Us */
.why-us__icon {
  max-width: 36px;
  max-height: 36px;
  background-color: black;
  border-radius: 100%;
}

/* Testimonials */
.owl-carousel .owl-item {
  transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 1px solid black;
}

.owl-carousel .owl-nav button.owl-prev {
  background: var(--bs-white);
  border-color: var(--bs-gray-500);
}

.owl-carousel .owl-nav button.owl-next {
  background: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

.testimonials__icons--chevron-left {
  color: var(--bs-black);
}

.testimonials__icons--chevron-right {
  color: var(--bs-white);
}

.testimonials__card--background {
  background: #f1f3ff;
}

.testimonials__icons--star {
  color: var(--bs-gray-400);
}

.testimonials__icons--star.active {
  color: var(--bs-warning);
}

/* CTA */
.cta__background {
  background: var(--bs-primary);
  min-height: 50vh;
}
/* Footer */
.footer__list {
  list-style-type: none;
}

.footer__list a {
  color: black;
  text-decoration: none;
}

.footer__icon {
  color: white;
  background-color: var(--bs-primary);
  border-radius: 100%;
  padding: 0.5rem;
}
